<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ex5"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="filescript.MyFileScript"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/cs/stud/orib/workspace/ex5/mytests /cs/stud/orib/workspace/ex5/COMMAND.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ex5"/>
</launchConfiguration>
