<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ex5/src/oop/ex5/filescript/MyFileScript.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oop.ex5.filescript.MyFileScript"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/cs/stud/orib/workspace/ex5/advanced_source_directory /cs/stud/orib/workspace/ex5/advanced_filters/filter054.flt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ex5"/>
</launchConfiguration>
